<html lang="en">
<%- include("./partials/head.ejs") %>

<body style="background-image: linear-gradient(to bottom left, white, white);">
  <%- include("./partials/nav.ejs") %>
  <h1><b>Hospital Information</b></h1> 
  <div class="container" style="width:100%">
     
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active" style="padding:50px;">
          <h2>Introduction</h2>
          <p style="font-size:medium;">The healthcare sector has seen robust growth over the past decade and this sector has one of the highest multipliers in the economy
             in Malaysia. Changing demographics, a more affluent society and more health-conscious lifestyles have led to the creation of a 
             robust domestic industry. The health care system in Malaysia provides universal access to all its residents by dual system involving
             takeholders from the public and private sector. Both systems provide health care through conventional or traditional and complementary
             medicine. The Ministry of Health (MOH), as the lead agency for health has been assigned to provide a more efficient and effective
             health system that ensures universal access to quality healthcare. According to official portal of Ministry of Health Malaysia, there
             are currently 141 public hospitals and 1039 public health clinics. Government also provide 254 1Malaysia clinics which are 
             strategically located in various housing area. There are between three and four such clinics available at each State at the moment. On
             the other hand, there are 214 licensed private hospitals and 6801 registered private medical clinics excluded private dental clinics.
             The country now enjoys a fairly comprehensive range of health services from health promotion, illness prevention as well as curative
             and rehabilitative care provided by this dual system.
             <br /><br /><br /><br /><br /><br /><br /><br /><br/>
             
          </p>
          <p style="text-align: center;"><b>1</b></p>
        </div>
  
        <div class="item" style="padding:50px;">
          <h2>Government's fundings on hospitals</h2>
          <p style="font-size:medium;">
          In recent years, the government has taken the initiative to increase funding for the healthcare sector to compensate for a large ageing 
          demographic in Malaysia as well as an overall increase in population. Also, the government aims to further grow health care sector by 
          encouraging more private investments in areas such as manufacturing of pharmaceutical products, medical devices, clinical research, 
          aged-care services and supporting collaborative efforts between public and private healthcare providers. At 2014, Government allocated 
          RM 22 billions for operating and development of health care system in Malaysia. 40 healthcare projects announced under Healthcare NKEA 
          are projected to create 26,966 jobs and generate an income of RM6.59 billion, as well as RM4.96 billion in new investments by 2020. 
          Collectively, government had put much effort in improving health care system in many ways such as 1Malaysia clinics which are 
          strategically located in various housing area, Medical Devices Entry Point Projects which will leverage the country’s cost advantage, 
          capabilities in the large electronics and electrical industry, strong intellectual property (IP) protection framework and accessibility
          throughout Asia to develop the medical devices industry further. <br/><br/>

          The Malaysian government appears to be very committed to providing access to high-quality healthcare to everyone in Malaysia, which the 
          Ministry of Health provides through clinics and hospitals nationwide. Although medical care and public and private institutions are 
          abundantly available, there is still a shortage of quality healthcare centres in remote parts of the country. The farther away you move 
          from urban districts, the more difficult it is to find sufficient medical clinics. When patients are transferred from the health centres 
          to the hospitals for further treatment, this not only incurs inconvenience to the patients and their family but also increases the cost 
          to the health care system. Tele primary care is one of the tools to overcome this problem. The doctors in the remote clinics are able to 
          discuss the problem cases through teleconsultation with the doctors and specialist in the hospitals using an audio-visual system to 
          provide better care in the health centres without transferring the patients to the hospitals. Only the essential and needy patients are 
          referred to the hospitals. This has not only reduced the number of patients referred to the hospitals but it has reduced the cost to the 
          health care system. It has also provided a more comprehensive care to the patients in the health centres. The doctors in the health 
          centres are also provided training and are also updated on the latest in medicine.


          </p>
          <p style="text-align: center;"><b>2</b></p>
        </div>
      
        <div class="item" style="padding:50px;">
          <h2>Public and Private sectors</h2>  
          <p style="font-size:medium;">
          Equity and accessibility to healthcare services has always been the commitment given by the government. The public sector delivery system 
          subsidizes nearly 95% of the patients’ cost of treatment for nearly 90% of the population that has access to some form of care. However, 
          long queues for outpatient services, diagnostic procedures like CT- scan examinations, treatment modalities like endoscopic surgery and 
          rationing of drugs for chronic diseases is a form of inequity. This inequity also relates to the doctor-population ratio whereby the 
          population in urban areas like Klang Valley has more accessibility to doctors compared to the population in Sabah and Sarawak. All these 
          may due to an imbalance in the distribution of resources and workload with the public sector shouldering a greater workload in terms of 
          complexity and number of patients, particularly in-patients (Noh 2011). The problem of doctors in particular the more experienced 
          specialist opting for the more lucrative private sector, resulting in shortages in the public sector. Both sectors provide excellent 
          specialists and equipment. Yet due to the high number of public sector patients, public institutions struggle with long waiting hours 
          and a lack of personal attention from the doctors whereas private insurance tends to be too expensive. Public healthcare may be the much 
          cheaper option, but private healthcare options do have their advantages, such as faster services as a result of more doctors in the sector
          who are attracted to the higher salaries and better working conditions. <br/><br/>

          Also, public medical facilities are overbooked, while private hospitals are attracting more doctors. Even with the Malaysian government’s 
          subsidies and investment attraction initiatives, overall spending on public hospitals in recent years has lowered.10 This means that more 
          doctors are leaving the public sector for a better income working in private practices. Unfortunately, the cost of private medical 
          facilities are rising, which means residents are increasingly visiting public clinics instead.  The result is that public healthcare 
          facilities have more patients than ever before, but fewer doctors available to treat them.
          </p>
          <br/><br/>
          <p style="text-align: center;"><b>3</b></p>
        </div>

        <div class="item" style="padding:50px;">
          <h2>Health insurance</h2>
          <p style="font-size:medium;">
             Since the Malaysian government does not offer a national medical insurance program, buying private medical and life insurance is a must. 
             Medical insurance is usually provided by employers; however, you may need your own additional health insurance to provide better 
             coverage. Health insurance coverage should cover common ailments, doctor’s consultations, hospital fees, and prescription medication. 
             You can choose a medical insurance policy that protects you and your loved ones with flexible plans that consider rising medical costs 
             throughout your lifetime. Medical insurance covers patients for both public and private hospital visits, meaning whichever you prefer 
             for treatment can be covered. However, private hospitals will still charge more than public ones. So only the portion of the cost 
             stipulated within the insurance can be reimbursed, since private clinics require payments up front. Get health insurance that guarantees 
             easy admission to a large number and variety of hospitals.
          </p>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <p style="text-align: center;"><b>4</b></p>
        </div>
      </div>
  
      <!-- Left and right controls -->
      <div style="text-align:center;">
        <a href="#myCarousel" data-slide="prev">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span>
            PREVIOUS
          </button>
        </a>
        <a href="#myCarousel" data-slide="next">
          <button class="btn btn-primary">
            
            &nbsp &nbsp NEXT &nbsp &nbsp
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </a>
      </div>
      
    </div>
  </div>  
  
</body>
</html>